
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shortlink.mapper.ShortLinkMapper">

    <select id="selectByShortCode" resultType="com.example.shortlink.common.entity.ShortLinkDO">
        SELECT * FROM short_url WHERE short_code = #{shortCode} AND status != -1
    </select>

    <select id="selectByLongUrl" resultType="com.example.shortlink.common.entity.ShortLinkDO">
        SELECT * FROM short_url WHERE long_url = #{longUrl} AND status != -1
    </select>

    <select id="selectExpiredLinks" resultType="com.example.shortlink.common.entity.ShortLinkDO">
        SELECT * FROM short_url WHERE status = #{status} AND expire_time IS NOT NULL AND expire_time < #{expireTime}
    </select>

    <update id="updateClickCount">
        UPDATE short_url SET click_count = click_count + #{count} WHERE short_code = #{shortCode}
    </update>

</mapper>
